body{
	background-color: #fcfcfc;
}
.flex-row{ 
	display: flex;
	flex-wrap: wrap;
}
img{
	filter: grayscale(1); 
	transition: filter 0.3s;
}
img:hover{
	filter: grayscale(0); 
}
.form{
	margin: 1em auto ;
	float: inherit;
}
/*Helpers*/
.top-space{
	margin-top: 1em;
}
.large-padding{
	padding: 10px 15px;
}

footer{
	background-color: #123;
	padding: 10px;
	text-align: center;
	color: #fff; 
	margin-top: 4em;
}